/* You can add global styles to this file, and also import other style files */

@import "styles-variables";

//@import "~bootstrap/scss/bootstrap";
@import "style-reset";

@import "~@angular/material/theming";

@include mat-core();

@import "./styles/themes/black-theme.scss";
@import "./styles/themes/light-theme.scss";

// import custom component themes here
@import "styles-reset.scss-theme";
@import "app/modules/auth/pages/login/login-theme.scss";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

//@import "app/modules/home/page/project-item/project-container.component.scss-theme.scss";

// Angular Material typography
$typography: mat-typography-config(
  $font-family: "Muli, Helvetica Neue, Arial, sans-serif",
  $title: mat-typography-level(20px, 32px, 600),
  $body-2: mat-typography-level(14px, 24px, 600),
  $button: mat-typography-level(14px, 14px, 600),
  $input: mat-typography-level(16px, 1.125, 400)
    // line-height must be unitless !!!,,,,,,,,,,,,
);

// Setup the typography
@include angular-material-typography($typography);

@mixin custom-components-theme($theme) {
  @include reset-theme($theme);
  @include login-theme($theme);
  //@include my-project-container-component-theme($theme);
}

.my-light-theme {
  @include angular-material-theme($light-theme);
  @include custom-components-theme($light-theme);
}

.my-dark-theme {
  @include angular-material-theme($black-theme);
  @include custom-components-theme($black-theme);
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
